#myTable{
    text-transform: uppercase !important;
}
#table-container {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    border: 1px solid var(--grey-color-light);
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    font-size: 14px;
    font-family: Arial, sans-serif;
    text-align: left;
    background: var(--white-color);

    transition: 200ms;
    min-height: 900px;
}

#control-table {
    padding: 10px;
    border-bottom: var(--blue-color) 4px solid;
    background-color: var(--blue-color);
    display: flex;
    gap: 15px;

}

#control-table button {
    background: var(--grey-light);
    padding: 8px 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    color: var(--grey-color);
    border: 1px solid var(--blue-color);
    text-transform: uppercase;
    background: var(--white-color);
    display: flex;
    gap: 5px;
}

#control-table button i {
    font-size: 20px;
}


#control-table button:active {
    outline: none;
    box-shadow: none;
    transform: scale(0.9);
    transition: 200ms;
}

#control-table button{
    font-weight: bold;
}
#control-table button:hover{
    color: white;
}

#add-row:hover {
    background: #174ad4;
}

#edit-row:hover {
    background: orange;
}

#delete-row:hover {
    background: rgb(244, 13, 13);
}
#delete-row {
    margin-left: auto;
}


/* #save-row:hover {
    background: green;
} */

#view-row:hover {
    background: rgb(255, 0, 208);
}

.selected-row {
    border-bottom: var(--blue-color) solid 2px;
    border-top: var(--blue-color) solid 2px;
    /* color: var(--white-color); */
    cursor: pointer;
    font-weight: bold;
    background: #4070f411 !important;
    /* color: var(--white-color); */
}



.modal-content {
    border-radius: 12px;
    overflow: hidden;
}

.modal-header {
    border-bottom: none;
    background: var(--blue-color);
}

.modal-title {
    color: var(--white-color);
    font-weight: bolder;
}

.info-box {
    background: #f8f9fa;
    padding: 10px 12px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.modal-body {
    background: var(--white-color);
}

.info-box label {
    font-size: 12px;
    color: #6c757d;
    margin-bottom: 2px;
    display: block;
}

.info-value {
    font-size: 14px;
    font-weight: 500;
    color: #212529;
    word-break: break-word;
}

#editForm input::placeholder, #addAppForm input::placeholder {
    color: var(--grey-color) !important;
  }

#editForm input,#editForm select, #editForm textarea, #addAppModal input, #addAppModal select, #addAppModal textarea{
    color: var(--grey-color);
    background: var(--white-color);
}

#editForm label,#addAppModal label{
    
    margin-top: 10px !important;
    font-size: 12px;
    color: var(--grey-color);
    margin-bottom: 2px;
    display: block;
}

#plan-type-container label{
    color: var(--grey-color);
}

#editModal .btn-secondary, #addAppModal .btn-secondary{
    background: none;
    border: 1px solid var(--grey-color);
    color: var(--grey-color);
}
#editModal .btn-primary, #addAppModal .btn-primary{
    background: var(--blue-color);
    border: 1px solid var(--blue-color);
    color: var(--white-color);
}

#editModal .modal-footer, #addAppModal .modal-footer{
    background: var(--white-color);
}

.stale-row {
    box-shadow: inset 4px 0 0 red;
  }

  .removed-row {
    opacity: 0.5;
    /* pointer-events: none; */
  }

  .btn-disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none; /* prevents clicking */
  }

  #control-table label{
    color: var(--white-color) !important;
    margin-top: auto;
  }

  .text-orange {
    color: #fd7e14; /* Bootstrap orange */
  }
  
  .text-purple {
    color: #6f42c1; /* Bootstrap purple */
  }